<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="nuevo-titulo"> Boca </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  <form [formGroup]="miForm" mode="ios">

    <ion-radio-group value="" formControlName="tipo">
      <ion-list-header>
        <ion-label>Tipo</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>No aplica</ion-label>
        <ion-radio slot="start" value="" ></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Grande</ion-label>
        <ion-radio slot="start" value="Grande"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Mediana</ion-label>
        <ion-radio slot="start" value="Mediana"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Pequeña</ion-label>
        <ion-radio slot="start" value="Pequeña"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </form>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-button expand="block" routerLink="/f7-labios" (click)="enviarBoca()">Siguiente</ion-button>
</ion-toolbar>
