<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="nuevo-titulo"> Datos generales </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>

    <form [formGroup]="miForm" mode="ios">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" ></ion-input>
      <p class="text-d" *ngIf="campoNombre('nombre')"> Solo se permiten letras </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido Paterno</ion-label>
      <ion-input type="text" formControlName="apellido_paterno" ></ion-input>
      <p class="text-d" *ngIf="campoNombre('apellido_paterno')"> Solo se permiten letras </p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido Materno</ion-label>
      <ion-input type="text" formControlName="apellido_materno" ></ion-input>
      <p class="text-d" *ngIf="campoNombre('apellido_materno')"color="danger"> Solo se permiten letras </p>
    </ion-item>

    <ion-radio-group formControlName="sexo">
      <ion-list-header>
        <ion-label>Sexo</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio slot="start" value="Masculino"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Femenino</ion-label>
        <ion-radio slot="start" value="Femenino"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label position="floating">Estatura (cm)</ion-label>
      <ion-input type="number"  formControlName="estatura"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad (años)</ion-label>
      <ion-input type="number"  formControlName="edad"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Peso (kg)</ion-label>
      <ion-input type="number" formControlName="peso"></ion-input>
    </ion-item>

  </form>
  </ion-list> 
  
  </ion-content>

  <ion-footer>
    <ion-toolbar>      
    <ion-button expand="block" routerLink="/f0-particularidades" (click)="enviarDatosGenerales()" [disabled]="miForm.invalid">Siguiente</ion-button>
  </ion-toolbar>
</ion-footer>
  